mat-toolbar {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.logo {
  font-weight: bold;
  font-size: 22px;
}

.spacer {
  flex: 1;
}

a[mat-button], button[mat-button] {
  font-size: 15px;
  margin-left: 8px;
}
