<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <img src="/images/CV.png" alt="Webpage Logo" class="logo">
      <h1>Create Resume</h1>
      <nav>
        <a href="/">Home</a>
        <a href="/create">Create Resume</a>
      </nav>
    </header>
    <h1>Start a New Resume</h1>
    



    <footer>
      <p>&copy; <%= new Date().getFullYear() %> <%= title %></p>
    </footer>
  </body>
</html>